node_modules/
client/node_modules/
server/node_modules/

client/dist/
server/uploads/

server/.env
.env
.venv/

__pycache__/
.vite/
.eslintcache
.cache/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo